[submodule "thewonderingtechie/themes/hugo-clarity"]
	path = thewonderingtechie/themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "public"]
	path = public
	url = https://github.com/skoussou/skoussou.github.io.git
	branch = main
[submodule "thewonderingtechie/public"]
	path = thewonderingtechie/public
	url = https://github.com/skoussou/skoussou.github.io.git
	branch = main
